.leftMenu{
    z-index: 1;
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34,34,34,0.9);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.175, 0.885,0.32,1.275);
}

.leftMenu .logoContainer{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftMenu .logoContainer i{
    font-size: 30px;
}

.leftMenu .logoContainer i:nth-of-type(2){
    font-size: 20px;
}

.leftMenu .logoContainer h2{
    font-size: 20px;;
}

.searchBox{
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    color: #848484;
}

.searchBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
}

.searchBox .searchIcon{
    position: absolute;
    color: #848484;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

.menuContainer{
    margin: 15px 0;
}

.menuContainer .title {
    color: #848484;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.menuContainer ul{
    width: 100%;
    padding: 0;
}

.menuContainer ul li{
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0;
    position: relative;
}

.menuContainer ul li a{
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menuContainer ul li a i{
    font-size: 18px;
    margin-right: 15px;
}

.menuContainer ul li:before{
    position: absolute;
    content: "";
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #49e12e;
    border-radius: 5px ;
    left: -15px;
}

.menuContainer ul li:hover::before,
.menuContainer ul li.active::before{
    width: 5px;
    transition: 0.3s;
}

.menuContainer ul li:hover a,
.menuContainer ul li.active a {
    color: #f1f1f1;
}

.playlistContainer{
    cursor: pointer;
    margin: 15px 0;
}
.playlistContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848484;
    margin-bottom: 10px;
}
 
.playlistContainer .nameContainer p{
    color: #848484;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.playlistContainer .nameContainer i{
    cursor: pointer;
    color: #f1f1f1;
}

.playlistContainer .playlistScroll{
    height: 130px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.playlistContainer .playlistScroll .playlist{
    display: flex;
    color: #848484;
    align-items: center;
    margin: 10px;
}

.playlistContainer .playlistScroll .playlist:hover{
    color: #f1f1f1;
    transition: 0.3s;

}

.playlistContainer .playlistScroll .playlist i{
    font-size: 18px;

}

.playlistContainer .playlistScroll .playlist .list{
    margin-right: 15px;
}

.playlistContainer .playlistScroll .playlist .trash{
    margin-left: auto;
}
.playlistContainer .playlistScroll .playlist p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

.tracklist{
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
}

.tracklist .top{
    display: flex;
    align-items: center;
}


.tracklist .top img{
    width: 40px;
}

.tracklist .top .trackName{
    margin-left:  10px;
    color: #f1f1f1;
    font-size: 14px;
}

.tracklist .top .trackName .trackSpan{
    display: block;
    font-size: 12px;
    color: #848484;
}

.tracklist .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;
}

.tracklist .bottom i{
    font-size:  18px;
}

.tracklist .bottom i:hover{
    color: #f1f1f1;
    transition: 0.3s;
    cursor: pointer;
}

.tracklist .bottom input{
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    appearance: none;
}

.tracklist .bottom input::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}

.tracklist .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -1px 0 0 0 ;
    z-index: 2;
    box-sizing: border-box;
    transition: all 250ms linear;
}

.tracklist .bottom input::-moz-range-progress{
    position: absolute;

    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 5;
    transition: width 250ms linear;
}

.tracklist .bottom input::-moz-range-thumb{
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -1px 0 0 0 ;
    z-index: 2;
    box-sizing: border-box;
    transition: all 250ms linear;
    
}

@media screen and (max-width: 550px) {
  .leftMenu {
    min-width: 64px;
    width: 64px;
   vertical-align: middle;
  }

  .leftMenu .searchBox {
    display: none;
  }

  .leftMenu .tracklist {
    display: none;
  }
  .logoContainer h2,
    .logoContainer .ellipse{
      display: none;
  }

  .leftMenu .playlistContainer {
    display: none;
  }

  .leftMenu .menuContainer ul li a span {
    display: none;
  }

  .leftMenu .menuContainer ul li a i {
    font-size: 24px;
  }

  .leftMenu .menuContainer ul li {
    margin: 25px 0;
  }
}